---
import '@fontsource/parisienne';
import '@fontsource/poppins';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel&Maria</title>
	</head>
	<body>

		<div class="">

		</div>

		<!--Reloj--> 
		<div class="flex justify-center text-center [background:radial-gradient(125%_125%_at_70%_10%,#fff_40%,#ffcc99_100%)]">
			<div class="animate-fade-up" style="width: 430px; height: 430px; background: url(/countdown.svg) center center no-repeat;">
				<div class="mt-14">
					<h2 style="color: #EABE3F; font-size: 80px; font-family: parisienne;">Falta</h2>
				</div>

				<div class="pr-3 inline-block">
					<span id="days" style="color: #EABE3F; font-size: 40px; font-family: poppins;"></span>
					<span class="block" style="font-size: 18px;">Días</span>
				</div>

				<div class="pr-3 inline-block">
					<span id="hours" style="color: #EABE3F; font-size: 40px; font-family: poppins;"></span>
					<span class="block" style="font-size: 18px;">Horas</span>
				</div>
				<div class="inline-block">
					<span id="minutes" style="color: #EABE3F; font-size: 40px; font-family: poppins;"></span>
					<span class="block" style="font-size: 18px;">Minutos</span>
					
				</div>
				<div class="flex justify-center text-center mt-5 pointer-events-none" >
					<img src="/heart.svg" alt="" width="75">
				</div>
			</div>	
					
		</div>
		<!--End-Reloj--> 
		<!--Celebracion-->
		<div>
			<lottie-player src="https://lottie.host/597c188d-26db-4d8a-82e2-0027c392715a/WQKUsjLTg7.json" background="#FFFFFF" speed="1" style="width: 300px; height: 300px" direction="1" mode="normal" controls autoplay></lottie-player>
		</div>

		<div class="grid grid-cols-3 flex justify-center text-center">
			<div>
				<h2>Día</h2>
				<h3>Sabado 14 de Diciembre de 2024</h3>
				<div>Confirmar Asistencia</div>
			</div>
			<div>
				<h2>Lugar</h2>
				<h3>Salon de Eventos ...</h3>
			</div>
			<div>
				<h2>Direccion</h2>
				<h3>av. bolivar edif. apruzzese</h3>
				<div>¿Como llegar?</div>
			</div>
		</div>
		<!--End-Celebracion-->
		<!--Javascript--> 
		<script src="../../src/js/countdown.js"></script>
	</body>
</html>
